# ==========================
#  PYTHON / VIRTUAL ENV
# ==========================
venv311/
__pycache__/
*.py[cod]
*.log
*.tmp

# ==========================
#  ENVIRONMENT VARIABLES
# ==========================
.env

# ==========================
#  DATABASE FILES
# ==========================
*.sqlite3
*.db
*.db-journal